@model IEnumerable<WebApplication.Web.Models.Collection>

@{
    ViewData["Title"] = "CollectionIndex";
}


<body class="Index">
    <div class="CollectionsHeaderIndex">
        Collections
    </div>
    <br />
    <div class="linkToCreatNewCollection">
        <a asp-action="NewCollection">Create New Collection</a>
    </div>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="usernameInCollectionAccount">
                        @Html.DisplayNameFor(model => model.UserName)
                        </div>
                </th>
                <th>
                    <div class="usernameInCollectionAccount">
                        @Html.DisplayNameFor(model => model.CollectionName)
                    </div>
                </th>

                <th>
                    <div class="usernameInCollectionAccount">
                        @Html.DisplayNameFor(model => model.PublicStatus)
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicStatus)
                    </td>
                    <td>

                        @Html.ActionLink("Details", "AccountCollectionDetails", new { collectionId = item.CollectionId })
                    </td>

                    <td>
                        <form id="deleteForm" action="Account/DeleteCollection" method="post">
                            <input type="submit" value="Delete" />
                            <input type="hidden" name="collectionId" id="collectionId" value="@item.CollectionId" />
                        </form>
                </tr>
            }
        </tbody>
    </table>


    <p id="demo"></p>
</body>

<script>
    document.getElementById("deleteForm").addEventListener("submit", DeleteForm)

    function DeleteForm(event) {
        event.preventDefault();
        if (window.confirm("Are you sure you want to delete this collection?")) {
            let deleteForm = document.getElementById("deleteForm")
            deleteForm.removeEventListener("submit", DeleteForm)
            deleteForm.submit()
        }
    }
</script>



